{% extends "admin/change_form.html" %}
{% load admin_urls static %}

{% block content %}
  {{ block.super }}
  <h2>Sample Details Table</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Barcode</th>
        <th>Extraction Quant</th>
        <th>Library Quant</th>
        <th>Sequencing Depth</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ original.barcode }}</td>
        <td>{{ original.extraction_quant }}</td>
        <td>{{ original.library_quant }}</td>
        <td>{{ original.targeted_depth }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}