{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  <h1>{{ title }}</h1>
  <form method="post">
      {% csrf_token %}

      <input type="hidden" name="action" value="bulk_update_status">

      <label for="id_sample_status">New Status:</label>
      <select name="sample_status" id="id_sample_status">
        {% for value, label in form.fields.sample_status.choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>

      <!-- Hidden inputs for selected sample IDs -->
      {% for sample in samples %}
        <input type="hidden" name="_selected_action" value="{{ sample.id }}">
      {% endfor %}

      <input type="hidden" name="bulk_update_status" value="1">

      <br>
      <input type="submit" value="{% trans 'Apply' %}">
  </form>
    <script>
  document.querySelector("form").addEventListener("submit", function() {
      console.log("Form Submitted. Selected Status:", document.getElementById("id_sample_status").value);
  });
    </script>
{% endblock %}
